<h2>Recipes for {{ recipes()?.[0]?.line }}</h2>

<a class="back-button" aria-label="Back to Recipes" routerLink="/recipes"
  >Back</a
>

<p *ngIf="recipes().length === 0">No recipes found for this line.</p>

<div class="recipes-list">
  <details *ngFor="let recipe of recipes()" class="recipe-item">
    <summary>
      <span class="product-name">{{ getProductName(recipe.productName)}}</span>
      <span class="timestamp"
        >{{ recipe.createdAt.toDate() | date:'short' }}</span
      >
    </summary>
    <div class="recipe-body">
      <label>
        <strong>Product Name</strong>
        <input
          type="text"
          [value]="getProductName(recipe.productName)"
          disabled
        />
      </label>

      <label>
        <strong>Heat Zones</strong>
        <div class="heat-zones-display">
          <div *ngFor="let zone of recipe.heatZones" class="zone-item">
            <strong>{{ zone.name }}</strong>
            <div class="zone-fields">
              <label>
                Actual Value
                <input type="number" [value]="zone.actualValue" disabled />
              </label>
              <label>
                Set Point
                <input type="number" [value]="zone.setPoint" disabled />
              </label>
            </div>
          </div>
        </div>
      </label>

      <label>
        <strong>Index Length</strong>
        <input type="number" [value]="recipe.indexLength" disabled />
      </label>

      <label>
        <strong>Mold Cycle Time</strong>
        <input type="number" [value]="recipe.moldCycleTime" disabled />
      </label>

      <label>
        <strong>Pieces Made</strong>
        <input type="number" [value]="recipe.piecesMade" disabled />
      </label>

      <label>
        <strong>Scrap Amount</strong>
        <input type="number" [value]="recipe.scrapAmount" disabled />
      </label>
    </div>
    <a routerLink="/recipes/add/{{ recipe.id }}" class="clone-button">Clone</a>
  </details>
</div>
