<nav class="navbar">
  <div>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-label="Dashboard"
      (click)="closeDrawer()"
    >
      <img
        src="/assets/tfoperatorslogo.png"
        alt="TF Operators Logo"
        class="logo"
      />
    </a>
  </div>

  <div class="spacer"></div>
  <button class="hamburger" (click)="toggleDrawer()" aria-label="Open menu">
    &#9776;
  </button>
  <div
    class="nav-links"
    [class.open]="drawerOpen"
    (click)="$event.stopPropagation()"
  >
    <a
      routerLink="/daily-log"
      routerLinkActive="active"
      aria-label="Daily Log"
      (click)="closeDrawer()"
      >📅 Daily Log
    </a>
    <a
      routerLink="/recipes"
      routerLinkActive="active"
      aria-label="Recipes"
      (click)="closeDrawer()"
      >📖 Recipes</a
    >
    <!-- <a
      routerLink="/log-uploader"
      routerLinkActive="active"
      aria-label="Log Uploader"
      (click)="closeDrawer()"
      >📤 Upload</a
    > -->

    <a
      routerLink="/thermoforming101"
      routerLinkActive="active"
      aria-label="Thermoforming 101"
      (click)="closeDrawer()"
      >📘 101</a
    >
    
    <a
      routerLink="/problem-history"
      routerLinkActive="active"
      aria-label="Problem History"
      (click)="closeDrawer()"
      >🔧 Problem History</a
    >

    <!-- Conditionally show user info or a login link -->
    <ng-container *ngIf="user$ | async as user; else showLogin">
      <!-- This block shows when the user is logged in -->
      <div class="user-info">
        <span class="user-email">{{ user.email }}</span>
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </ng-container>

    <ng-template #showLogin>
      <!-- This block shows when the user is logged out -->
      <button class="nav-link-button" (click)="openLoginModal()">
        Sign In
      </button>
    </ng-template>
  </div>
  <div class="backdrop" *ngIf="drawerOpen" (click)="closeDrawer()"></div>
</nav>
