<h2>Add Recipe</h2>

<form
  (ngSubmit)="addRecipe()"
  [formGroup]="newRecipeForm"
  [class.form-submitted]="submitted"
>
  <label>
    <strong>Line</strong>
    <select formControlName="line">
      <option value="" disabled selected required>Select a line</option>
      <option *ngFor="let line of lines" [value]="line">{{ line }}</option>
    </select>
  </label>

  <label>
    <strong>Product Name</strong>
    <select formControlName="productName">
      <option value="" disabled selected required>Select a product</option>
      <option *ngFor="let product of products$ | async" [value]="product.id">
        {{ product.name }}
      </option>
    </select>
  </label>

  <!-- Incrementally shown fields based on product selection -->
  <ng-container *ngIf="selectedProduct">
    <!-- Width -->
    <ng-container *ngIf="selectedProduct.width?.length > 0">
      <label>
        <strong>Width</strong>
        <select formControlName="width">
          <option *ngFor="let w of selectedProduct.width" [value]="w">
            {{ w }}
          </option>
        </select>
      </label>
    </ng-container>

    <!-- Length -->
    <ng-container *ngIf="selectedProduct.length?.length > 0">
      <label>
        <strong>Length</strong>
        <select formControlName="length">
          <option *ngFor="let l of selectedProduct.length" [value]="l">
            {{ l }}
          </option>
        </select>
      </label>
    </ng-container>

    <!-- Mil -->
    <ng-container *ngIf="selectedProduct.mil?.length > 0">
      <label>
        <strong>Sheet Thickness</strong>
        <select formControlName="mil">
          <option *ngFor="let m of selectedProduct.mil" [value]="m">
            {{ m }}
          </option>
        </select>
      </label>
    </ng-container>

    <!-- Sides -->
    <ng-container *ngIf="selectedProduct.sides?.length > 0">
      <label>
        <strong>Side</strong>
        <select formControlName="sides">
          <option *ngFor="let side of selectedProduct.sides" [value]="side">
            {{ side }}
          </option>
        </select>
      </label>
    </ng-container>

    <!-- Degrees -->
    <ng-container *ngIf="selectedProduct.degrees?.length > 0">
      <label>
        <strong>Degrees</strong>
        <select formControlName="degrees">
          <option
            *ngFor="let degree of selectedProduct.degrees"
            [value]="degree"
          >
            {{ degree }}
          </option>
        </select>
      </label>
    </ng-container>
  </ng-container>

  <label>
    <strong>Heat Zones</strong>
    <div formArrayName="heatZones">
      <div
        *ngFor="let zone of this.heatZoneConfigs[this.newRecipeForm.get('line')!.value]; let i = index"
        [formGroupName]="i"
        class="zone-fields"
      >
        <strong>{{ zone.name }}</strong>
        <br />
        <label>
          Actual Value
          <input
            type="number"
            formControlName="actualValue"
            required
            [defaultValue]=""
            min="0"
          />
        </label>
        <label>
          Set Point
          <input
            type="number"
            formControlName="setPoint"
            required
            [defaultValue]=""
            min="0"
          />
        </label>
      </div>
    </div>
  </label>

  <label>
    <strong>Index Length</strong>
    <input type="number" formControlName="indexLength" min="0" required />
  </label>

  <label>
    <strong>Mold Cycle Time</strong>
    <input type="number" formControlName="moldCycleTime" min="0" required />
  </label>
  <label>
    <strong>Pieces Made</strong>
    <input type="number" formControlName="piecesMade" min="0" required />
  </label>
  <label>
    <strong>Scrap Amount</strong>
    <input type="number" formControlName="scrapAmount" min="0" required />
  </label>

  <!-- Display success message here -->
  <div *ngIf="successMessage" class="submission-feedback">
    {{ successMessage }}
  </div>
  <!-- Display error message here -->
  <div *ngIf="errorMessage" class="submission-feedback error">
    {{ errorMessage }}
  </div>

  <button type="submit">Add Recipe</button>
</form>

<h2>Past Recipes</h2>
<div class="past-recipes">
  <ul>
    <li *ngFor="let line of lines">
      <a href="past-recipes/{{ line }}">{{ line }}</a>
    </li>
  </ul>
</div>
