.former {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
}

.leftColumn,
.middleColumn,
.rightColumn {
  width: 100%;
  border: 1px solid black;
  color: black;
}

.settings {
  margin: 0.1em;
  padding: 0.1em;
  background-color: rgb(6, 122, 238);
  display: flex;
  border: 1px solid rgb(6, 122, 238);
}

.internalSettings {
  margin: 0.1em;
  padding: 0.1em;
  background-color: gray;
  display: flex;
}

.onOff {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px ridge white;
  cursor: pointer;
}

.former table {
  width: 100%;
  cursor: pointer;
  border-spacing: 2px;
}

.internalSettings table {
  width: 100%;
  cursor: auto;
}

.internalSettings form {
  width: 100%;
  display: flex;
}

.former thead {
  text-align: justify;
  background-color: white;
}

.former td {
  background-color: white;
}

.onType td,
.onType th {
  border: 2px solid rgb(0, 225, 0);
}

.offType td,
.offType th {
  border: 2px solid red;
}

.former td:last-child {
  width: 20%;
  text-align: right;
}

.former button span {
  font-weight: 700;
}

.topBtm {
  margin-top: 0.25em;
}

.topSec,
.btmSec {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 48.5%;
  background-color: white;
  border: 1px solid black;
}

.leftColumn .settings:last-child {
  width: 32.5%;
  position: absolute;
  bottom: 0;
  left: 0;
}
