.homepage {
    display: block;
    position: relative;
    background-image: url('./HomepageBackground.jpg');
    background-size: cover;
    border: 2px solid rgb(225, 225, 225);
    height: 77.5vh;
}

.middleLogo {
    right: 0;
    left: 0;
    position: absolute;
    height: 3em;
    width: 7em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1em 1em;
    margin: 1em auto 1em;
}

.topWrapper {
    display: flex;
    flex-direction: row-reverse;
}

.topRight a {
    color: white;
}

.topRight, .topRight a:visited{
    padding: 0em 8em;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.divider {
    background-color: rgb(225, 225, 225);
    height: 1em;
    margin: 0 .5em;
}

.infoTabs {
    margin: 1em .5em 0em;
    display: flex;
    height: 74%;
}

.formerInfo {
    border: 2px solid white;
    text-align: center;
    color: white;
    font-size: 18px;
    width: 100%;
}

.formerInfo button {
    position: absolute;
    left: 3.5em;
    bottom: 1em;
}

.formerInfoTabs {
    display: flex;
    justify-content: space-between;
    margin: 0 2em; 
    height: 2em; 
    align-items: center;
}

.formerInfoTabNum {
    width: 4.5em;
    padding: .2em;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
}

.navButtons {
    color: white;
    width: 30em;
    text-align: center;
    position: relative;
}

.utilButtons {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: aqua;
}

.signIn {
    width: 100%;
    background-color: rgb(225, 225, 225);
    padding: 1em;
    color: darkblue;
    border: 2px outset white;
    cursor: pointer;
}

.chat {
    background-color: rgb(225, 225, 225);
    padding: 1em;
    color: darkblue;
    border: 2px outset white;
}

.notes {
    background-color: rgb(225, 225, 225);
    padding: 1em;
    color: darkblue;
    border: 2px outset white;
}